.Footer {
  height: 75px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgba(81, 81, 81, 0.75);
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-primary-text);
  text-align: center;
  padding: 2em 0 0;
}

.Footer > h2 {
  letter-spacing: 3px;
  font-weight: normal;
  font-size: 1rem;
}
