.Header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 75px;
  width: 100%;
  background-color: rgba(81, 81, 81, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-side-text);
  font-size: 1.3rem;
  padding: 1.8em 10em 0 6em;
}

.Header__quote {
  letter-spacing: 5px;
  font-style: italic;
  font-weight: normal;
}

.Header__navBar {
  display: flex;
  gap: 2rem;
}

.Header__navBar > h2 {
  letter-spacing: 3px;
  font-weight: normal;
}

@media screen and (max-width: 1080px) {
  .Header__quote {
    font-size: 1rem;
  }
  .Header {
    padding: 1.8em 2.5em 0 1.5em;
  }
}

@media screen and (max-width: 800px) {
  .Header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .Header__quote {
    display: none;
  }
}
