.Projects {
  display: flex;
  flex-flow: column;
  color: var(--color-primary-text);
  margin: 25rem 0 10rem 5rem;
}

.Projects__title {
  font-size: 2.3rem;
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.Projects__subTitle {
  font-size: 1.8rem;
  letter-spacing: 3px;
  font-weight: normal;
  margin-bottom: 2rem;
}

.Projects__webApps {
  display: flex;
  flex-flow: row wrap;
}

.Project {
  max-width: 500px;
  min-width: 300px;
  margin: 0 2rem 2rem 0;
}

.Project__image {
  width: 100%;
}

.Project__info p {
  font-size: 1.1rem;
  font-weight: normal;
}

.Project__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.Project__tech {
  list-style-type: none;
  margin-bottom: 5px;
}

.Project__tech li {
  display: inline-block;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.Project__links a {
  text-decoration: none;
  color: var(--color-primary-text);
  margin-right: 2rem;
  padding: 0 0.2em;
  border: 1px solid rgba(81, 81, 81, 0.75);
  border-radius: 5px;
}

.Project__links a:hover {
  background-color: rgba(81, 81, 81, 0.25);
  color: blue;
}

@media screen and (max-width: 800px) {
  .Projects {
    margin-left: 0.5rem;
    align-items: center;
  }
  .Projects__subTitle {
    text-align: center;
  }
  .Projects__webApps {
    flex-direction: column;
  }
  .Project {
    margin-right: 0.5rem;
  }
}
